@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Muli|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Lato:100');

body {
  font-family: 'Inconsolata', monospace;
  overflow: none;
}
.menu {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #B79793;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-right: 250px;
}

.menu li {
  list-style-type: none;
  margin-left: 70px;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: lightgrey;
}
.title h1 {
  margin-left: 250px;
  margin-top: 50px;
}
.first {
  padding-top: 50px;
  margin-left: 250px;
}
.p {
  font-family: 'Quicksand', sans-serif;
  padding-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 15px;
  text-align: justify;
}
.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 48px;
}

.container {
  font-size: 15px;
  margin-top: 250px;
  margin-bottom: 250px;
}
.btn-primary {
  background-color: #f5f5f5;
  color: black;
  border-color: #ddd;
}
.fichier {
  height: 100px;
  width: 100px;
}
table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
}
th {
  font-family: 'Lato', sans-serif;
  background-color: #C0C0C0;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: white;
}
td {
  font-weight: bolder;
  width: 10%;
  padding: 10px;
  border: 2px solid #C0C0C0;
  font-size: 20px;
  color: gray;
}
table, td {
  background-color: lightgrey;
}
.book_list h1 {
  margin-bottom: 40px;
  font-variant: small-caps;
}
.panel-body form {
  margin-left: 250px;
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
  font-size: 15px;
}
.panel-body label {
  margin-top: 50px;
  margin-bottom: 10px;
}
.panel-body{
  margin-top: 50px;
}
.supprimer, .modifier {
  background-color: white;
  border: none;
  margin-bottom: 40px;
  padding: 5px;
  padding-top: 2px;
  padding-right: 30px;
  margin-top: 20px;
  padding-left: 30px;
  border-radius: 10px;
  color: black;
  font-family: 'Lato', sans-serif;

}
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm {
padding-top: 14px;
padding-bottom: 14px;
}
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
footer {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
	background-color: #B79793;
  margin-top: 50px;
	color: white;
	text-align: center;
  padding-top: 25px;
	padding-bottom: 20px;
	bottom:0;
	right:0;
	left:0;
}
